@use "mixins.scss" as *;
@use "tags.scss" as *;

:root {
    --color-fg: #EEE;
    --color-bg: #1c1b22;
    --color-mid: #5c5a67;
    --color-primary: #09ccec;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    color: var(--color-fg);
}

body {
    @include row;
    justify-content: space-between;
    gap: 1rem 3ch;

    background-color: var(--color-bg);

    width: 100%;

    &>canvas {
        // width: 100%;
    }
}