@use "mixins.scss" as *;
@use "tags.scss" as *;

:root {
    --color-fg: #EEE;
    --color-bg: #1c1b22;
    --color-mid: #5c5a67;
    --color-primary: #09ccec;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    color: var(--color-fg);
}

body {
    @include row;
    justify-content: space-between;
    gap: 1rem 3ch;

    background-color: var(--color-bg);

    width: 100%;
    padding: 2rem 5ch;

    & .name {
        font-size: 1.3rem;
        font-weight: bold;
    }

    &>section {
        flex: 1;
    }

    &>section.train {
        @include row;
        justify-content: center;
        gap: 1rem 2ch;

        height: 20rem;

        &>.train-car-pools {
            @include column;

            &>div {
                @include box;
                @include row;
                flex-wrap: wrap;
                gap: 0.5ch;

                min-height: 17rem;
                width: 15ch;

                &>* {
                    width: 1rem;
                    height: 1rem;

                    background-color: var(--color-primary);
                }
            }
        }

        &>canvas {
            background-color: var(--color-mid);

            height: 100%;
            aspect-ratio: 4/10;
        }

        &>div {
            @include column;
            gap: 1rem 2ch;

            min-width: 25ch;
            height: 100%;

            &>.cars {
                list-style-position: inside;

                & .dim {
                    color: var(--color-mid);
                }

                &>p:first-child,
                &>li::marker {
                    @extend .dim;
                }
            }
        }
    }

    &>section.controls {
        @include column;
        align-items: center;
        gap: 1rem 2ch;
    }

    &>section.station {
        @include column;
        justify-content: center;
        gap: 0.5rem 2ch;

        &>.passenger-pool {
            @include box;
            @include row;
            flex-wrap: wrap;
            gap: 0.5ch;

            width: 30ch;

            &>* {
                width: 1rem;
                height: 1rem;

                background-color: var(--color-primary);
            }
        }
    }
}